<app-header></app-header>
<div class="mt-2 sm:ml-64 justify-center flex">
  <button
    data-modal-target="defaultModal"
    data-modal-toggle="defaultModal"
    type="button"
    (click)="generatePDFAndPrint()"
    class="rounded focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800"
  >
    <i class="fa fa-download"></i> Descargar Factura
  </button>
</div>
<div id="PDF" class="p-3 sm:ml-64">
  <div class="flex justify-center">
    <div
      class="invoice-container p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 w-full"
    >
      <div>
        <header>
          <div class="flex align-items-center w-full">
            <div class="col-sm-7 text-center text-sm-start mb-3 mb-sm-0">
              <img
                id="logo"
                src="../../../../assets/images/azure.png"
                title="azure"
                alt="azure"
                width="50px"
              />
            </div>
            <div class="col-sm-5 flex-1 flex justify-end">
              <h4 class="text-4xl mb-0 text-gray-700">Factura de Venta</h4>
            </div>
          </div>
          <hr />
        </header>

        <main>
          <div class="flex">
            <div class="px-6 py-3 text-gray-700">
              <strong>Fecha:</strong>
              {{ venta.fecha | date : "d/MM/yy, h:mm:ss a" }}
            </div>
            <div
              class="px-6 py-3 flex-1 justify-end flex text-gray-700 uppercase"
            >
              <strong> N° Factura:</strong> {{ venta.idFactura }}
            </div>
          </div>
          <hr />
          <div class="flex px-6 py-3">
            <div class="px-6 py-3 text-sm-end order-sm-1 text-gray-700">
              <strong>Vendedor:</strong>
              <p>
                {{ venta.iduser.nombres }}<br />
                {{ info.descripcion2 }}<br />
                {{ info.descripcion }} <br />
                {{ info.correo }}
              </p>
            </div>
            <div
              class="flex-1 items-end text-end flex-col flex order-sm-0 text-gray-700"
            >
              <div>
                <strong>Cliente</strong>
                <p>
                  {{ venta.idcliente.nombres }}<br />
                  {{ venta.idcliente.correo }}<br />
                  N° Identificación: {{ venta.idcliente.dni }}<br />
                  {{ info.ciudad }} - {{ info.departamento }}
                </p>
              </div>
            </div>
          </div>
          <div class="w-full p-6 border border-gray-200 rounded-lg">
            <div class="flex flex-col">
              <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 sm:px-6 lg:px-8">
                  <div class="overflow-hidden">
                    <table class="min-w-full text-left text-sm font-light">
                      <thead
                        class="border-b bg-white font-medium dark:border-neutral-500 dark:bg-neutral-600"
                      >
                        <tr>
                          <td class="px-6 py-3 text-center text-gray-700">
                            <strong>REF</strong>
                          </td>
                          <td class="px-6 py-3 text-center text-gray-700">
                            <strong>PRODUCTO</strong>
                          </td>
                          <td class="px-6 py-3 text-center text-gray-700">
                            <strong>CANTIDAD</strong>
                          </td>
                          <td class="px-6 py-3 text-center text-gray-700">
                            <strong>PRECIO</strong>
                          </td>
                          <td
                            class="px-6 py-3 text-center text-gray-700 whitespace-nowrap"
                          >
                            <strong>SUB -TOTAL</strong>
                          </td>
                        </tr>
                      </thead>
                      <tbody *ngFor="let item of detalle_venta">
                        <tr
                          class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700"
                        >
                          <td
                            class="px-6 py-4 font-medium text-gray-600 whitespace-nowrap dark:text-white text-center"
                          >
                            {{ item.idproducto.titulo }}
                          </td>
                          <td
                            class="px-6 py-4 font-medium text-gray-600 whitespace-nowrap dark:text-white text-center"
                          >
                            {{ item.idproducto.descripcion }}
                          </td>
                          <td
                            class="px-6 py-4 font-medium text-gray-600 whitespace-nowrap dark:text-white text-center"
                          >
                            {{ item.cantidad }}
                          </td>
                          <td
                            class="px-6 py-4 font-medium text-gray-600 whitespace-nowrap dark:text-white text-center"
                          >
                            ${{
                              item.idproducto.precio_venta | number : "1.0-2"
                            }}
                          </td>
                          <td
                            class="py-4 font-medium text-gray-600 whitespace-nowrap dark:text-white text-center"
                          >
                            ${{
                              item.idproducto.precio_venta * item.cantidad
                                | number : "1.0-2"
                            }}
                          </td>
                        </tr>
                      </tbody>
                      <tfoot
                        class="border-b bg-neutral-100 dark:border-neutral-500 dark:bg-neutral-700"
                      >
                        <tr>
                          <td colspan="4" class="text-end p-3">
                            <strong>Sub Total:</strong>
                          </td>
                          <td class="text-center">
                            $ {{ subTotal | number : "1.0-2" }}
                          </td>
                        </tr>
                        <tr>
                          <td colspan="4" class="text-end p-3">
                            <strong>Descuento:</strong>
                          </td>
                          <td
                            class="text-center border-t-[0.5px] border-gray-200"
                          >
                            {{ venta.descuentoFactura }}%
                          </td>
                        </tr>
                        <tr></tr>
                        <tr>
                          <td colspan="4" class="text-end p-3">
                            <strong class="">Total:</strong>
                          </td>
                          <td
                            class="text-center border-t-[0.5px] border-gray-200"
                          >
                            $
                            {{
                              total - total * (venta.descuentoFactura / 100)
                                | number : "1.0-2"
                            }}
                          </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
      <!-- Footer -->
      <footer class="text-center mt-4">
        <p class="text-1">
          <strong>NOTA :</strong> Al firmar esta factura, acepta a ver recibido
          las cantidades correspondientes a esta factura
        </p>
        <div class="btn-group btn-group-sm d-print-none"></div>
      </footer>
    </div>
  </div>
</div>
<!-- Main modal -->
<div
  id="defaultModal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] md:h-full"
>
  <div class="relative w-full h-full max-w-2xl md:h-auto">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <div
        id="clase"
        class="flex flex-col min-h-0 overflow-hidden"
        style="height: 75vh"
      ></div>
    </div>
  </div>
</div>
