<div class="min-h-screen flex items-center justify-center bg-gray-200 h-full py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <img class="mx-auto h-12 w-auto" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg" alt="Workflow">
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        AzureWEB 
      </h2>
      <p class="mt-2 text-center text-sm text-gray-600">
        
        <i href="#" class="font-medium text-indigo-600 hover:text-indigo-500">
          Sistema de ventas y inventario
        </i>
      </p>
    </div>

    <div class="rounded bg-white max-w-md rounded overflow-hidden shadow-xl p-5">

      <form  #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="space-y-4" >
        <div class="rounded-md shadow-sm -space-y-px">
          <div class="grid gap-6">
            <div class="col-span-12">
              <label for="first_name" class="block text-sm font-medium text-gray-700">Ingresa el Correo</label>
              <input type="email" id="first_name" autocomplete="given-name" class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" #email="ngModel" name="email" [(ngModel)]="user.email" required>
            </div>

            <div class="col-span-12">
              <label for="email_address" class="block text-sm font-medium text-gray-700">Ingresa la Contraseña</label>
              <input type="password"  id="email_address"  class="mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" #password="ngModel" name="password" [(ngModel)]="user.password" required>
            </div>
          </div>
        </div>
        <div>
          <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <span class="absolute left-0 inset-y-0 flex items-center pl-3">
              <!-- Heroicon name: solid/lock-closed -->
              <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="True">
                <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
              </svg>
            </span>
            INGRESAR AL SISTEMA
          </button>
        </div>
      </form>
  </div>
</div>
